# Ignore Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables & secrets
.env

# Ignore Docker-related files
docker-compose.yaml

# Ignore system files & editor configs
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db

# Ignore virtual environments
.venv/

# Ignore version control
.git/
